*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
body
{
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding:0;
    align-items: center;
}
.p10
{
    padding:10px;
}
/* == HEADER ==  */
#header{ 
    display: flex;
    position: fixed;
    height: 96px;
    background-color: #096B54;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    padding: 0px 32px;
    align-items: center;
    flex-shrink: 1;
}
/* Logo Icon */
.logoImg{
    width: 112px;
    height: 56px;
}
/* Search Box */
.search-box {
    position: relative;
    display: flex;
    text-align: center;
  }
.searchTerm {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 440px;
    height: 44px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-weight: 50;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 40px;
    color: #000;
    outline: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
.searchButton {
    text-align: left;
    position: absolute;
    width: 40px;
    height: 36px;
    border: none;
    outline: none!important;
    background:transparent;
    top: 1px;
    padding: 10px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* Right - infomation */
.subnav
{
    margin-right: 5%;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    flex-shrink: 1;
    width: 211px;
    gap: 10px;
    justify-content: space-between;
}
/* myCourse Button */
.btn
{
    display: inline-block;
    border-radius: 12px; 
    border: none;
    color: #000;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 185px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    background-color: #BBF9D4;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; 
    text-align: center;
    font-size: 17px;
    font-weight: 10px;  
}
.btn span:after{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
.btn:hover span {
    padding-right: 15px;
}
.btn:hover span:after {
    opacity: 1;
    right: 0;
}
/* Bell Icon */
.bellImg{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
/* Avatar profile */
.AvaImg{
    width: 40px;
    height: 40px;
}

/*  == CONTENT == */
#content 
{
    margin-left: 1px;
    display: flex;
    position: relative;
    padding: 20px;
    margin-top: 96px;
    margin-bottom: -29px;
    justify-content: space-between;
}

/* Sidebar_menu */
#siderbar_menu
{
    display: inline-flex;
    margin-top: 30px;
    position: absolute;
    background: transparent;
}
.sub_sidebar
{
    display: flex;
    gap: 60px;
    
}
.select_topic 
{
    list-style-type: none;
    width: 114px;

}
.select_topic li 
{
    margin-left: -24px;
    padding: 12px 16px;
    width: 80px;
}
.select_topic li a 
{
    text-decoration: none;
    color:#000;
}
/* Button ===< SideBar_menu */
button {
    position: relative;
    overflow: hidden;
    padding:10 15px;
    border-radius: 10px;
    font-weight: 100;
    background-size: 400%;
    color: #000;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: #fff;
}
.menu_btn span 
{
    padding:5px;
    font-size: 15px;
}
.icon
{
    position: relative;
    z-index: 1;
    display:inline-flex;
    align-items: center;
}
.icon1{
    font-size: 15px;
    padding:7px;
}
.menu_btn:hover::before {
    transform: scaleX(1);
  }
  
.button-content {
    position: relative;
    z-index: 1;
    display: block;
}
  
.menu_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(209, 203, 212) 10.8%,
      rgb(223, 223, 229) 94.3%
    );
    transition: all 0.475s;
}
/* Content Page */
#main_content
{
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
    padding: 20px;
    right: auto;
}
/* Slider swiper item*/
.slider{
   width: 1082px;
    height: 320px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    border-radius: 20px;
    width: 1082px;
    max-width: 100vw;
    height: 320px;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
/* .slider_item[data-animated="true"]
{
    overflow: hidden;
    -webkit-mask:
     linear-gradient(90deg,transparent,white 20%, white 90%, transparent);
    mask: linear-gradient(90deg,transparent,white 20%, white 90%, transparent);
}

.slider_item[data-animated="true"] .course_item
{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) 
    var(--_animation-duration,forwards)
    linear 
    infinite;
}
.slider_item[data-direction="right"]
{
    --_animation-direction: reverse;
}
@keyframes scroll {
    to{
        transform: translate(calc(-50% - 0.5rem));
    }
}
.slider_item:hover .course_item
{
    animation-play-state: paused;
} */
/* Slide img item */
.itemImg
{
    height: 320px;
    border-radius: 20px;
    width: 1224px;
}
.itemImg:hover 
{
    opacity: 0.6;
    transform: scale(1.05);
}
/* Hover Item */
.itemImg:hover 
{
    opacity: 0.6;
}

.slide_name
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
.slide_name h1 
{
    margin-left: 15px;
}
.slide_btn
{
    border-radius: 12px; 
    border: none;
    color: #000;
    text-align: center;
    padding: 16px;
    width: 175px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    background: #FAE5E5;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
.slide_btn span {
    cursor: pointer;
    display: inline-block;
    position:relative;
    width: 100%;
    transition: 0.5s; 
    text-align: center;
    font-size: 14px;  
    bottom:7px;
    color:#E02828;
}
.slide_btn span:after{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
.slide_btn:hover span {
    padding-right: 15px;
}
.slide_btn:hover span:after {
    opacity: 1;
    right: 0;
}
.allcourse_btn
{
    background-color:orange;
    color: red;
    width: 100%;
    height: 35px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
/* Content Course */
.content_course
{
    overflow: hidden;
    position: relative;
    display: flex;
    margin-left: 15px;
    padding: 10px 5px;
    align-items: center;
    transition: all 0.2s;
    transform: scale(0.98);
    position: relative;
    white-space: nowrap;
    user-select: none;     
}
.content_item
{
    min-width: calc(37% - 3.05rem);
    
}
.content_course.active 
{
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.content_course2
{
    display: flex;
    margin-left: 15px;
    padding: 10px 5px;
    align-items: center;
}
.content_item2
{
    width: 25%; 
    box-sizing: border-box; 
}
.content_item, .content_item2 
{
    padding: 0 10px;
}
.content_item h3, .content_item2 h3 
{
    padding-top: 10px;   
}
.content_item p:nth-child(3), .content_item2 p:nth-child(3)
{
    opacity: 0.4;
}
/* Item Img */
.itemCourse 
{
    border-radius:25px;
    cursor: pointer;
    width: 100%;
    height: 248px;
    transition: all 0.5s;
    z-index: 1;
}
.itemCourse:hover
{
    opacity: 0.6;
    transform: scale(1.05);
}
.itemCoures:active{
    transform: scale(0.95) rotateZ(1.7deg);
}
/* Starting button */
.container {
    position: relative;
} 
.heart_icon
{
    display:inline-flex;
    position: absolute;
    top: 10px;
    left:10px;
    cursor: pointer;
    opacity: 0;
    font-size: 20px;
    background-color:  #33E288;
    border-radius: 10px;
    padding: 4px;
    transition: opacity .5s ease;
}
.start_btn 
{
    display:inline-flex;   
    position: absolute;
    width: 150px;
    height: 40px ;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    top: 45%;
    left: 32%;
    right:auto;
    transition: opacity .5s ease;
}
.forward_icon
{
    margin-left:8px;
    padding-left:8px;
    padding-right: 6px;
    font-size: 20px;
    align-items: center;
    border-radius: 20px;
    background-color: #33E288;
}
.container:hover .start_btn,.container:hover .heart_icon
{
    opacity: 1;
}
/* .container:hover .heart_icon
{
    
    opacity: 1;
} */

.content_item h3 , p
{
    padding: 10px 0;
}
/* == FOOTERPAGE == */
footer {
    background-color: #151C1B;
    margin-top: 30px;
    margin-bottom: -23px;
    overflow: hidden;
}
footer .footer-wrap {
    padding: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color:#fff;
}
.special_name
{
    font-weight: 600;
    font-size: 20px;
    color: #BBD2C7;
}
/* Item 1 */
footer .footer-wrap h6 {
    padding: 20px 0px;
    font-weight: 900;
}
.about p 
{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}
/* Logo Icon */
.imgIcon{
    width: 112px;
    height: 56px;
    margin-bottom: 15px;
}
.Service p a , .Follow_us p a, .Contact p a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
footer .footer-wrap .Service a:hover, footer .footer-wrap .Follow_us a:hover {
    color: black;
    font-weight: 600;    
}
  
footer .footer-wrap .Service p, footer .footer-wrap .Follow_us p {
    margin-bottom: 0.3em;
}
  

 