*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}
.bgrk#E2E2E2
{
    background-color: #E2E2E2;
}
.bgrk2
{
    background-color: #3ADFE9;
}
/* HEADER */
#header{
    position: fixed;
    display: flex;
    width: 1440px;
    height: 96px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    justify-content: space-between;
    background: transparent;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
/* LOGO ICON */
.logoimg{
    width: 152px;
    height: 80px;
}
#nav{
    display: flex;
    padding: 8px 12px;
    align-items: center;
    justify-content: space-between;

}
#nav li{
    list-style-type: none;
    display: inline-flex;
}
/* BUTTON  */
.btn{
    display: inline-block;
    border-radius: 12px; 
    border: none;
    color: #000;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.btn2 {
    width: 210px;
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;   
}
.btn span:after{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
.btn:hover  span {
    padding-right: 15px;
}
.btn:hover span:after {
    opacity: 1;
    right: 0;
}

/* Slider */
#slider{   
    min-width: 100%;
    bottom:0;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 50%;
    background: url('./img/pexels-francesco-ungaro-998641.jpg') top center / cover no-repeat; 
} 
#slider .text-heading{
    position: absolute;
    top:300px;
    width: 100%;
    margin-left: 40px;
    color: #fff;
    left: 150px;
    
}
#slider .text-name{
    font-size: 70px;
    color: #fff;
    line-height: 1;
    font-weight: 800;
    font-family: "Alfa Slab One";
    font-size: 78px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.17px;
}
#slider .text-section{
    font-size: 70px;
    color: #fff;
    line-height: 1;
    color:#F256A1;
}
/* === TEXT === */
.items{
    display: flex;
    overflow-x:hidden;
    overflow-y: hidden;
    transition: all 0.2s;
    transform: scale(0.98);
    position: relative;
    white-space: nowrap;
    user-select: none;  
    width: 25%;
}
.items .item {
    position: relative;
    animation: animation 15s ease infinite;
}
.item{
    min-width: calc(100% - .05rem);
    aspect-ratio: 1 / 1;
    display: flex;
}
.items.active{
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

@keyframes animation {
    0%,
    100% {
      left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -470px;
    }
    45% {
        left: -470px;
    }
    50% {
        left: -950px;
    }
    70% {
        left: -950px;
    }
  
 
  }