*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    display: flex;
    width: 1440px;
    height: 96px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}
.logoimg{
    width: 152px;
    height: 80px;
}
